@model Giprojivmash.WEB.Models.ServiceViewModel

@{
    ViewData["Title"] = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Услуги
</h1>
<div class="container">
    <div class="row">
        @for (var i = 0; i < Model.ServiceFirstLayerList.Count; i++)
        {
            <a href="services/proektirovanie/" class="col-lg-4 item aos-init aos-animate" data-aos="fade-left" data-aos-delay="0">
                <div class="img-thumbnail" style="background-image: url(images/services/@Model.ServiceFirstLayerList.ElementAt(i).PhotoTitle)">
                </div>
                <span class="caption">
                    <span class="name">@Model.ServiceFirstLayerList.ElementAt(i).PhotoTitle</span>
                    <span class="description">@Model.ServiceFirstLayerList.ElementAt(i).Description</span>
                </span>
            </a>
        }



        @for (var i = 0; i < Model.ServiceFirstLayerList.Count; i++)
        {
            <p class="font-weight-bolder">
                @Model.ServiceFirstLayerList.ElementAt(i).Description
                <a class="btn btn-circle" data-toggle="collapse_@i" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-angle-double-down"></i>
                </a>
            </p>
            <div class="collapse" id="collapseExample_@i">
                @{
                    var serviceSecondLayerList = Model.ServiceSecondLayerList.Where(m => m.ServiceFirstLayerId == Model.ServiceFirstLayerList.ElementAt(i).Id).ToList();
                }
                @for (var j = 0; j < serviceSecondLayerList.Count; j++)
                {
                    <p class="ml-2">
                        @serviceSecondLayerList.ElementAt(j).Description;
                    </p>
                    var serviceThirdLayerList = Model.ServiceThirdLayerList.Where(m => m.ServiceSecondLayerId == serviceSecondLayerList.ElementAt(j).ServiceFirstLayerId).ToList();
                    @for (var k = 0; k < serviceThirdLayerList.Count; k++)
                    {
                        <p class="ml-4">
                            @serviceThirdLayerList.ElementAt(k).Description
                        </p>
                    }
                }
            </div>
        }
    </div>
</div>


@section Scripts{
    <script>
        $(".btn-circle").click(function () {
            $(this + "i").addClass("aaa");
            /*
            if (btn.hasAttribute("aria-expanded", "true")) {
                btn.children().removeClass("fa-angle-double-down");
                btn.children().addClass("fa-angle-double-up");
            }
            else {
                btn.children().removeClass("fa-angle-double-up");
                btn.children().addClass("fa-angle-double-down");
            }
            */
        });
    </script>
}