@model Giprojivmash.WEB.Models.About.AboutPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/css/cube.min.css" />
}

<div class="container">
    <div class="row">
        <div class="d-none d-lg-block col-lg-4">
            <ul class="nav-vertical-menu">
                @for (var i = 0; i < Model.Sidebar.Count; i++)
                {
                    @if (Model.Sidebar.ElementAt(i).SidebarName == Model.PageName)
                    {
                        <li class="nav-link-vertival-menu current">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="About" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-link-vertival-menu">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="About" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-12 col-lg-8">
            <h1 class="d-block d-sm-block d-sm-none d-lg-none d-xl-none">@Model.PageName</h1>
            <p class="text-justify">
                ОАО «Гипроживмаш» специализируется на выполнении проектных работы по расширению,
                реконструкции и техническому перевооружению промышленных предприятий, объектов здравохранения и образования, предприятий
                коммунанльного назначения всех видов собственности, выполняет все виды инженерно-изыскательских работ, проводит
                авторский надзор за строительством проектируемых объектов.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="wrap">
                        <div class="cube">
                            <div class="front gip">
                            </div>
                            <div class="back gip">
                            </div>
                            <div class="top gip">
                            </div>
                            <div class="bottom gip">
                            </div>
                            <div class="left gip">
                            </div>
                            <div class="right gip">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    ОАО «Гипроживмаш» осуществляет следующие виды услуг:<br />
                    <a target="_blank" asp-action="Design" asp-controller="Service">Проектирование</a><br />
                    <a target="_blank" asp-action="InvestmentJustification" asp-controller="Service">Обоснование инвестиций</a><br />
                    <a target="_blank" asp-action="Geodesy" asp-controller="Service">Инженерно-геодезические изыскания</a><br />
                    <a target="_blank" asp-action="Ecology" asp-controller="Service">Экологическое проектирование</a><br />
                    <a target="_blank" asp-action="IndustrialSafety" asp-controller="Service">Промышленная безопасность</a><br />
                    <a target="_blank" asp-action="SystemSafefty" asp-controller="Service">Системы безопасности</a><br />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">
                        Персонал ОАО «Гипроживмаш» представлен 164 профессиональными специалистами с большим опытом работы,
                        компетентность которых подтверждена дипломами и сертификатами.
                        Ряд сотрудников в совершенстве владеют <a target="_blank" asp-action="Bim" asp-controller="About">BIM технологией</a>.
                    </p>
                    <p class="text-justify">
                        ОАО «Гипроживмаш» представляет интересы заказчика по организации и проведению всех видов экспертиз,
                        согласований проектно-сметной документации, результатов комплексных инженерных изысканий в
                        Главгосстройэкспертиза (в том числе экспертизы промышленной безопасности).
                        Кроме того, компания проводит согласования с владельцами и балансодержателями инженерных коммуникаций,
                        сооружений, строений, с эксплуатирующими организациями, администрациями районов, а также получает все
                        необходимые согласования для утверждения заказчиком-застройщиком рабочей документации в производство работ.
                    </p>
                    <p class="text-justify">
                        В 2017 году ОАО «Гипроживмаш» побеждает в номинации <a target="_blank" href="/история#лучшая-проектная-организация">Лучшая проектная организация 2017</a>.
                    </p>
                    <p class="text-justify">
                        В 2017 году ОАО «Гипроживмаш» заносят на <a target="_blank" href="/история#городская-доска-почета">Городскую доску почета</a>.
                    </p>
                    <p class="text-justify">
                        В 2019 году ОАО «Гипроживмаш» заносят на <a target="_blank" href="/история#областная-доска-почета">Областную доску почета</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <video class="w-100" controls="controls" controlsList="nodownload" poster="~/images/about/poster.jpg">
                        <source src="~/movies/about.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

