@model Giprojivmash.WEB.Models.About.BimPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="d-none d-lg-block col-lg-4">
            <ul class="nav-vertical-menu">
                @for (var i = 0; i < Model.Sidebar.Count; i++)
                {
                    @if (Model.Sidebar.ElementAt(i).SidebarName == Model.PageName)
                    {
                        <li class="nav-link-vertival-menu current">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="About" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-link-vertival-menu">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="About" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-lg-8">
            <h1 class="d-block d-sm-block d-sm-none d-lg-none d-xl-none">@Model.PageName</h1>
            <div class="d-none d-md-block">
                <video playsinline autoplay muted loop class="w-100" preload="auto" poster="~/images/bim/1.jpg">
                    <source src="~/movies/bim1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>
            </div>
            <p class="text-indent text-justify">
                На протяжении всей человеческой истории строительная промышленность всегда претерпевала развитие, всегда стремилось увеличить производительность труда уменьшив при этом накладные расходы.
                Введение автоматизации в современном мире не выглядит чем-то неординарным, строительная промышленность развивается активным темпом, в том числе и благодаря информационным технологиям. Так на стыке двух этих технологий зарождается абсолютно новое направление - BIM технология.
            </p>
            <p class="text-indent text-justify">
                <b>Building Information Model</b> (Информационное моделирование объектов) – это современный подход в проектировании, по своей сути BIM технологии – это трехмерный виртуальный прототип будущего строительного объекта, которая включает в себя инфраструктуру этого объекта.
            </p>
            <h5>
                Преимущества BIM технологии
            </h5>
            <p class="text-indent text-justify">
                Трёхмерная модель объекта имеет в себя базу данных, которая содержит наиболее полную информацию по строительному объекту. Модель и база данных довольно тесно связаны, так, изменение некоторых параметров возводимого строительного объекта, затронут все места, где этот параметр фигурировал, будь то чертеж, спецификация или график строительства. Изменение в одном месте, приведет к изменению данного параметра в других места, что позволяет увеличить скорость внесения правок на 30% и значительно уменьшает риск строительных ошибок.
                Любые изменения сразу же будут отражены в чертежах, разрезах. Благодаря этому можно сразу отследить, как изменение параметра отобразится на заложенной стоимости объекта, а также увидеть, как эти изменения повлияют на эксплуатационно-технические характеристики сооружения.
            </p>
            <div class="d-none d-sm-block">
                <img class="img-fluid img-fluid" src="~/images/bim/2.jpg" alt="Проекция здания в 3D" />
            </div>
            <p class="text-indent text-justify">
                Еще одно преимущество BIM технологии – виртуальный макет возводимой конструкции позволяет оценить и просчитать различные решения ещё до начала строительных работах. Все участники проекта, от заказчика до строителя, получают возможность к достоверной и полной информации, что в свою очередь повышает качество в строительных работах, уменьшает время и материальные затраты на возведение объекта.
                Одним из важных преимуществ BIM технологии, кроме предварительного расчета и подсчета всех материалов и стоимости строительных работ является то, что BIM позволяет спрогнозировать и рассчитать поток движение людей в здании.
                BIM моделирование позволяет в 3D-режиме наблюдать за объектом, а также управлять различными элементами и системами будущего строения, позволяет проверить жизнеспособность и эксплуатационно-технические параметры объекта, а также функциональную пригодность планируемого сооружения.
            </p>
            <div class="d-none d-sm-block">
                <img class="img-fluid img-fluid" src="~/images/bim/4.jpg" alt="Проекция здания в 3D" />
            </div>
            <p class="text-justify">
                Применение BIM технологии в проекте дает следующие преимуществ:
            </p>
            <p class="pl-5">
                - более точное планирование финансовых затрат;<br />
                - сокращение времени для расчета сметной документации;<br />
                - уменьшение пространственных коллизий;<br />
                - снижение накладных расходов на возведение;<br />
                - увеличивает скорость внесения изменений в проект.<br />
            </p>
            <p class="text-indent text-justify">
                BIM моделирование позволяет решать задачи проектирования, на любом этапе жизненного цикла строительного объекта, от идеи заказчика, до проектирования, строительства, эксплуатации, а также сноса сооружения. Пожалуй, еще одно из главных достоинств BIM технологии – это достижение одинаковых условий технико-экономических характеристик возводимого сооружения, с ожиданиями и требованиями заказчика.
            </p>
            <div class="d-none d-sm-block">
                <img class="img-fluid img-fluid" src="~/images/bim/3.jpg" alt="Проекция системы вентиляции здания в 3D" />
            </div>
            <h5>
                Применение BIM технологии
            </h5>
            <p class="text-indent text-justify">
                BIM технология широко применяется на стадии проектирования различных объектов, для создания точного трехмерного макета сооружения. Также BIM технология нашла применение в строительстве, для контроля проектных чертежей и фактического исполнения с применением лазерного сканирования для точного измерения.
            </p>
            <p class="text-indent text-justify">
                Технология информационного моделирования на практике показало значительное увеличение скорости и качества проводимых строительных работ, что в свою очередь позволило снизить затраты денежных средств на возводимый объект.
                На сегодняшний день, BIM зарекомендовало себя во многих западных странах. Нет никаких сомнений, что за данной технологией будущее и что применение сегодня этой технологии позволит уже завтра сэкономить огромные средства.
            </p>
        </div>
    </div>
</div>
