@model Giprojivmash.WEB.Models.About.VacancyPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    /*
    <h4 class="text-center">
        К сожалению, в настоящий момент у нас нет открытых вакансий.
    </h4>
    */
}
<div class="container">
    <div class="row">
        <div class="d-none d-lg-block col-lg-4">
            <ul class="nav-vertical-menu">
                @for (var i = 0; i < Model.Sidebar.Count; i++)
                {
                    @if (Model.Sidebar.ElementAt(i).SidebarName == Model.PageName)
                    {
                        <li class="nav-link-vertival-menu current">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="About" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-link-vertival-menu">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="About" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-lg-8 col-sm-12">
            <h1 class="d-block d-sm-block d-sm-none d-lg-none d-xl-none">@Model.PageName</h1>
            <h2>
                Главный инженер проекта
            </h2>
            <h5>
            </h5>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <h5>
                        Требования:
                    </h5>
                    <p>
                        Профильное высшее образование.
                    </p>
                    <p>
                        Опыт работы более 5 лет.
                    </p>
                    <p>
                        Наличие квалификационного аттестата.
                    </p>
                </div>
                <div class="col-md-6">
                    <h5>
                        Обязанности:
                    </h5>
                    <p>
                        Организация работы проектной группы.
                    </p>
                    <p>
                        Разработка проектной документации.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>
                        Условия работы:
                    </h5>
                    <ul>
                        <li>
                            оформление по ТК РБ;
                        </li>
                        <li>
                            полный соц.пакет;
                        </li>
                        <li>
                            заработная плата согласно штатному расписанию;
                        </li>
                        <li>
                            работа на территории работодателя;
                        </li>
                        <li>
                            полный рабочий день;
                        </li>
                        <li>
                            премии к праздникам;
                        </li>
                        <li>
                            поощрение спортивных мероприятий;
                        </li>
                        <li>
                            частичная оплата мобильной связи;
                        </li>
                        <li>
                            настольный теннис на территории;
                        </li>
                        <li>
                            возможность профессионального и карьерного роста.
                        </li>
                    </ul>
                    <h5>
                        Контакты
                    </h5>
                    <p>
                        Главный инженер<br />
                        <b>Шаповалова</b> Екатерина Игоревна<br />
                        <a href="tel:+375232532705">
                            +375 232 53-27-05
                        </a>
                    </p>
                    <p>
                        Отдел кадров<br />
                        <b>Кричевская</b> Жанна Анатольевна<br />
                        <a href="tel:+375232532704">
                            +375 232 53-27-04
                        </a>
                    </p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
