<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="@ViewData["Robots"]" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <title>@ViewData["Title"] | ОАО "ГИПРОЖИВМАШ"</title>
    <link rel="shortcut icon" href="/images/logo/logo_gipro_blue.png" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="preload" as="style" href="~/lib/flagicons/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" type='text/css'/>
    <link rel="preload" as="style" href="~/lib/aosAnimate/aos.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg box-shadow mb-3">
            <div class="container">
                <div class="navbar-brand">ОАО ГИПРОЖИВМАШ</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Services">УСЛУГИ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">О НАС</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">ПОРТФОЛИО</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">КОНТАКТЫ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">ВАКАНСИИ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ЯЗЫК
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-ru"></span> Русский</a>
                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-gb"></span> English</a>
                                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-by"></span> Беларускi</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
        <div class="preloader row h-100 justify-content-center align-items-center">
            <img class="img" src="/images/preloader.gif" />
        </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="d-none d-sm-block col-sm-2">
                    <img class="img-fluid" src="~/images/logo/logo_gipro_white.png" alt="Гипроживмаш" />
                </div>
                <div class="col-sm-8 col-12">
                    <h3 class="text-center">СВЯЖИТЕСЬ С НАМИ</h3>
                    <div class="icon-bar">
                        <i class="fa fa-map-marker"></i>
                        <div class="content">
                            ул. Малайчука 12, 6 этаж, г. Гомель, 246000, Республика Беларусь
                        </div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-phone"></i>
                        <div class="content">+375 232 55-55-55</div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-fax"></i>
                        <div class="content">+375 232 55-55-55</div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-envelope"></i>
                        <div class="content">gipro@gomel.by</div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-calendar"></i>
                        <div class="content">
                            Пн.-пт.: 8.00 - 17.00, Выходной: Сб., Вс., Обед: 12.30 - 13.00
                        </div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-vk"></i>
                        <div class="content">
                            <a target="_blank" href="https://vk.com/giprojivmash">vk.com/giprojivmash</a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block col-sm-2">
                    <img class="img-fluid" src="~/images/logo/logo_stroy.png" alt="Гомельстройкомплекс" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
