@model Giprojivmash.WEB.Models.LayoutViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Model.PageDescription" />
    <meta name="keywords" content="@Model.PageKeyword" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ОАО "ГИПРОЖИВМАШ" | @Model.PageTitle </title>
    <link rel="shortcut icon" href="/images/logo/logo_gipro_blue.png" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/preloader.min.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <section class="preloader row h-100 justify-content-center align-items-center">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube-1"></div>
            <div class="sk-cube sk-cube-2"></div>
            <div class="sk-cube sk-cube-3"></div>
            <div class="sk-cube sk-cube-4"></div>
            <div class="sk-cube sk-cube-5"></div>
            <div class="sk-cube sk-cube-6"></div>
            <div class="sk-cube sk-cube-7"></div>
            <div class="sk-cube sk-cube-8"></div>
            <div class="sk-cube sk-cube-9"></div>
        </div>
    </section>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg box-shadow mb-3 ">
            <div class="container">
                <a class="a-block" asp-action="Index" asp-controller="Home">
                    <div class="navbar-brand">
                        ОАО ГИПРОЖИВМАШ
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Услуги
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-uppercase" asp-action="Design" asp-controller="Service"><span class="flag-icon flag-icon-ru"></span> Проектирование</a>
                                <a class="dropdown-item text-uppercase" asp-action="InvestmentJustification" asp-controller="Service"><span class="flag-icon flag-icon-by"></span> Обоснование инвестиций</a>
                                <a class="dropdown-item text-uppercase" asp-action="Geodesy" asp-controller="Service"><span class="flag-icon flag-icon-gb"></span> Инженерно-геодезические изыскания</a>
                                <a class="dropdown-item text-uppercase" asp-action="Ecology" asp-controller="Service"><span class="flag-icon flag-icon-by"></span> Экологическое проектирование</a>
                                <a class="dropdown-item text-uppercase" asp-action="IndustrialSafety" asp-controller="Service"><span class="flag-icon flag-icon-by"></span> Промышленная безопасность</a>
                                <a class="dropdown-item text-uppercase" asp-action="SystemSafefty" asp-controller="Service"><span class="flag-icon flag-icon-by"></span> Системы безопасности</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Портфолио</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                О нас
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-uppercase" asp-action="About" asp-controller="About"><span class="flag-icon flag-icon-gb"></span> О нас</a>
                                <a class="dropdown-item text-uppercase" asp-action="History" asp-controller="About"><span class="flag-icon flag-icon-ru"></span> История</a>
                                <a class="dropdown-item text-uppercase" asp-action="Certificate" asp-controller="About"><span class="flag-icon flag-icon-by"></span> Лицензии и сертификаты</a>
                                <a class="dropdown-item text-uppercase" asp-action="Bim" asp-controller="About"><span class="flag-icon flag-icon-ru"></span> BIM технология</a>
                                <a class="dropdown-item text-uppercase" asp-action="Shareholder" asp-controller="About"><span class="flag-icon flag-icon-by"></span> Акционерам</a>
                                <a class="dropdown-item text-uppercase" asp-action="Vacancy" asp-controller="About"><span class="flag-icon flag-icon-by"></span> Вакансии</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Контакты
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-uppercase" asp-action="General" asp-controller="Contact"><span class="flag-icon flag-icon-ru"></span> Общие</a>
                                <a class="dropdown-item text-uppercase" asp-action="Manager" asp-controller="Contact"><span class="flag-icon flag-icon-ru"></span> Руководство</a>
                                <a class="dropdown-item text-uppercase" asp-action="ChiefProjectEngineer" asp-controller="Contact"><span class="flag-icon flag-icon-gb"></span> Гипы</a>
                                <a class="dropdown-item text-uppercase" asp-action="Department" asp-controller="Contact"><span class="flag-icon flag-icon-ru"></span> Отделы</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="main pt-3">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="d-none d-md-none d-xl-block col-xl-2">
                    <a class="a-block mt-5" href="https://gipro.gomel.by/">
                        <img class="img-fluid" src="~/images/logo/logo_gipro_white.png" alt="Гипроживмаш" />
                    </a>
                </div>
                <div class="col-md-6 col-sm-12 col-xl-4">
                    <h3 class="text-center">СВЯЖИТЕСЬ С НАМИ</h3>
                    <hr class="border-white w-50" />
                    <div class="icon-bar">
                        <i class="fa fa-map-marker"></i>
                        <div class="content">
                            ул. Малайчука 12,
                            г. Гомель, 246032,
                            Республика Беларусь
                        </div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-calendar"></i>
                        <div class="content">
                            Пн.-пт.: 8.00 - 17.00,
                            Обед: 12.30 - 13.00
                            Выходной: Сб., Вс.,
                        </div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-phone"></i>
                        <div class="content">
                            <a href="tel:+375232532738">
                                +375 232 53-27-38
                            </a>
                            (приемная)
                        </div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-fax"></i>
                        <div class="content">
                            <a href="fax:+375232535030">
                                +375 232 53-50-30
                            </a>
                            (факс)
                        </div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-envelope"></i>
                        <div class="content">
                            <a href="mailto:post@gipro.gomel.by">
                                post@gipro.gomel.by
                            </a>
                        </div>
                    </div>
                    <div class="icon-bar">
                        <i class="fa fa-vk"></i>
                        <div class="content">
                            <a target="_blank" href="https://vk.com/giprojivmash">vk.com/giprojivmash</a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-6 col-xl-4">
                    <h3 class="text-center">БЫСТРЫЕ ССЫЛКИ</h3>
                    <hr class="border-white w-50" />
                    <div class="content text-center">
                        <a asp-action="Shareholder" asp-controller="About">Акционерам</a><br>
                        <a asp-action="Manager" asp-controller="Contact">Руководство</a><br>
                        <a asp-action="Vacancy" asp-controller="About">Вакансии</a><br>
                        <a asp-action="Bim" asp-controller="About">BIM технология</a><br>
                        <a asp-action="Certificate" asp-controller="About">Лицензии и сертификаты</a><br>
                        <a asp-action="Design" asp-controller="Service">Проектирование</a><br>
                        <a asp-action="Geodesy" asp-controller="Service">Инженерно-геодезические изыскания</a><br>
                        <a asp-action="SystemSafefty" asp-controller="Service">Системы безопасности</a><br>
                    </div>
                </div>
                <div class="d-none d-md-none d-xl-block col-xl-2">
                    <a class="a-block mt-5" target="_blank" href="https://gomelconstruction.by/services/proektirovanie/">
                        <img class="img-fluid" src="~/images/logo/logo_stroy.png" alt="Гомельстройкомплекс" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(66682234, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/66682234" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
