@model Giprojivmash.WEB.Models.Service.ServicePageViewModel
@using Giprojivmash.DataModels.Enums
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="d-none d-lg-block col-lg-4">
            <ul class="nav-vertical-menu">
                @for (var i = 0; i < Model.Sidebar.Count; i++)
                {
                    @if (Model.Sidebar.ElementAt(i).SidebarName == Model.PageName)
                    {
                        <li class="nav-link-vertival-menu current">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="Service" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-link-vertival-menu">
                            <a asp-action="@Model.Sidebar.ElementAt(i).SidebarAction" asp-controller="Service" aria-selected="false">@Model.Sidebar.ElementAt(i).SidebarName</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-lg-8">
            <h1 class="d-block d-sm-block d-sm-none d-lg-none d-xl-none">@Model.PageName</h1>
            @{
                var service = "";
                switch (Model.ServiceType)
                {
                    case ServiceType.Design:
                        service = "проектирования";
                        @await Html.PartialAsync("_design")
                        break;
                    case ServiceType.Ecology:
                        service = "инженерно-экологического изыскания";
                        @await Html.PartialAsync("_ecology")
                        break;
                    case ServiceType.Geodesy:
                        service = "инженерно-геологического изыскания";
                        @await Html.PartialAsync("_geodesy")
                        break;
                    case ServiceType.IndustrialSafety:
                        service = "промышленной безопасностия";
                        @await Html.PartialAsync("_industrialSafety")
                        break;
                    case ServiceType.InvestmentJustification:
                        service = "проведения обоснования ивестиций";
                        @await Html.PartialAsync("_investmentJustification")
                        break;
                    case ServiceType.SystemSafefty:
                        service = "проектирования систем безопасности";
                        @await Html.PartialAsync("_systemSafefty")
                        break;
                }
            }
            <p class="text-justify">
                При выполнении работ используется высокоточное оборудование и современное программное обеспечение. Результатом нашей работы
                является высокое качество, соответствующее всем техническим стандартам, принятым для @service.
            </p>
        </div>
    </div>
</div>


